.page-title .restart.panel {
	width:150px;
	float:right;
}
.page-title .restart.panel h4 {
	text-align:center;
}
.selector-main-content {
	width:100%;
	clear:both;
}
.selector-main-content .flex-container {
	margin-bottom:20px;
}
.selector-main-content .flex-item {
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
}
.selector-main-content .panel-heading h4 {
	text-align:center;
}
.panel-success > .panel-heading {
	border:none;
}
.panel-warning > .panel-heading {
    border: none;
}
header {
	width:100%;
	border-bottom:2px #fff solid;
	margin-bottom:20px;
}

@media screen and (max-width: 960px) {
	header h1{font-size:200%;}
	.page-title .restart.panel {width:100px;}
	.page-title .restart.panel h4{font-size:100%;}

}
@media screen and (max-width: 540px) {
	.selector-main-content .flex-container {
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
    }
    .selector-main-content h4{font-size:100%;}
}
